body {
  background-color: rgb(233, 234, 235);
  width: 100vw;
  height: 100vh;
  margin: auto;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 6%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-right {
  font-weight: 700;
}
.header-right a {
  margin-right: 20px;
}
#header-btn {
  color: white;
  background-color: rgb(29, 88, 238);
  border: 1px solid rgb(29, 88, 238);
  border-radius: 30px;
  padding: 3px;
}
#home {
  font-weight: 900;
  font-size: 20px;
}
.login {
  margin-top: 15%;
  text-align: center;
}

.login > input {
  width: 60%;
  padding: 20px;
  margin: 10px;
  background-color: white;
}

.login button {
  margin-top: 20px;
  background-color: navy;
  border: 1px solid navy;
  color: white;
  width: 65%;
  padding: 20px;
  /* border-radius: 40px; */
}
#index {
  margin: auto;
  width: 80%;
  height: 94%;
}

.flex-box {
  width: 100%;
  height: 44%;
  display: flex;
  justify-content: space-evenly;
}
.box {
  margin: 2%;
  background-color: white;
  width: 100%;
  border-radius: 30px;
}
#info {
  margin: 3%;
}
#info > div {
  margin-top: 10px;
}
table.type09 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
}
table.type09 thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
table.type09 tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
table.type09 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
#userBtn {
  float: right;
  margin-right: 30px;
}
#userBtn button {
  border: 1px solid rgb(220, 222, 223);
}
a {
  text-decoration: none;
  color: black;
}

#boxtwo {
  display: flex;
  height: 94%;
}
#left {
  background-color: rgb(248, 244, 252);
  flex: 2;
}
#right {
  flex: 8;
}

#left a {
  text-align: center;
}
.nav-item {
  border: 1px solid rgb(225, 208, 245);
  width: 90%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  margin-top: 15px;
  background-color: rgb(225, 208, 245);
}

#info2 {
  text-align: center;
  margin-top: 20vh;
}

.info2-item {
  text-align: left;
  background-color: rgb(220, 222, 223);
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
}
input {
  /* border-style: none; */
  background-color: rgb(220, 222, 223);
}

#info2 button {
  margin-top: 20px;
}

#check {
  margin-top: 40vh;
  text-align: center;
}

#check-why,
#check-why2 {
  text-align: center;
}

.box-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 3vh;
  /* margin-bottom: 10px; */
}

.box-t2 {
  margin-top: 3vh;
  margin-bottom: 6vh;
  text-align: center;
}
.box-t2 .redc {
  font-weight: 700;
  color: red;
}
.flex-box2 {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
}

.bleft {
  flex: 2;
}
.bright {
  flex: 1;
  text-align: center;
}

.boxform {
  padding-top: 5vh;
  width: 60%;
  margin: auto;
}
.boxform .t1 {
  text-align: center;
  font-weight: 700;

  font-size: 20px;
}
.red-box {
  border-radius: 10px;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-size: 20px;
  background-color: rgb(241, 217, 217);
}
.red {
  font-size: 40px;
  color: red;
  font-weight: 700;
  margin-right: 0.5vw;
}
.blue-box {
  border-radius: 10px;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-size: 20px;
  background-color: rgb(212, 216, 244);
}
.blue {
  font-size: 40px;
  color: rgb(29, 88, 238);
  font-weight: 700;
  margin-right: 0.5vw;
}

.time-flex {
  margin-top: 2vh;
  display: flex;
  justify-content: space-evenly;
}
.time {
  width: 10vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: center;
  border: 1px solid rgb(237, 238, 238);
  background-color: rgb(240, 242, 243);
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
}
.box-t3 {
  text-align: center;
  margin: 2vh;
}
.purple-box {
  width: 70%;
  margin: auto;
  background-color: rgb(242, 234, 248);
  border-radius: 10px;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.contents {
  width: 75%;
  margin: auto;
  margin-top: 7vh;
  margin-bottom: 3vh;
  text-align: center;
}
.ai-box {
  /* border: 1px solid black; */
  box-shadow: 5px 5px 5px 5px rgb(211, 210, 210);
  border-radius: 15px;
  height: 70vh;
  overflow-y: auto;
  #result pre {
    white-space: pre-wrap;
  }
}
.wb {
  background-color: white;
}
.ai-box h1 {
  padding-top: 6vh;
  padding-bottom: 3vh;
}

#login-box {
  width: 60%;
  height: 70vh;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  margin-top: 10vh;
}
#login-box h1 {
  text-align: center;
  padding-top: 5vh;
}
.login-form {
  width: 60%;
  margin: auto;
  border: 1px solid rgb(211, 210, 210);
  border-radius: 15px;
  height: 60%;
}

.regi {
  margin-top: 5vh;
  text-align: center;
}
.my-form {
  width: 80%;
  margin: auto;
  padding-top: 5vh;
}
.my-form input {
  background-color: white;
}
.t3 {
  text-align: left;
  border-left: 5px solid rgb(29, 88, 238);
  padding-left: 10px;
}
.bottom {
  text-align: left;
  margin-left: 8vw;
  margin-top: 2vh;
}

.bottom input {
  background-color: white;
  margin-right: 10px;
}
.bottom button {
  background-color: rgb(29, 88, 238);
  color: white;
}
